@import './styles/_const'
// @import 'styles/fonts'
@import 'styles/media'
@import 'styles/_mixins/font-face'


html
  height: 100vh
body
  height: 100vh
  min-height: 100%

body
  background: $bg url(img/bg.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-size: 17px
  min-width: 320px
  line-height: 1.65em
  font-family: $primary-font
  color: #fff
  height: 100vh
  position: relative

.img-responsive
  display: block
  max-width: 100%
  height: auto
  &.img-width
    width: 100%

.content-without-padding
  margin: 0 !important
  .title-top
    text-align: center
  .description-text-top
    text-align: center
    margin-bottom: $small
    width: 70%
    margin: 0 auto
  .contacts-bottom-block
    padding-top: $small
    justify-content: center
  .progress-block
    .progress-list
      .progress-item
        .progress-item-header
          margin: 0 auto
          width: 50%
        .progress-container
          margin: 0 auto

.orange-button-bottom
  display: inline-block
  margin-top: $small
  background-color: transparent
  border: 1px solid $orange
  padding: 8px 39px
  color: $orange
  cursor: pointer
  border-radius: 30px
  &:hover
    color: $default
    background-color: orange

.orange-button-link
  text-decoration: none !important
